@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 640px) {
    .hide-on-small {
      display: none;
    }
    .center-div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }
  